body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #cfcfcf;
}

header {
  background-color: #6e0000;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

main {
  max-width: 800px;
  margin: 2em auto;
  background-color: #b4b4b4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  margin-bottom: 1.5em;
}

form h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 1em;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #cfcfcf;
}
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 1em;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #cfcfcf;
}
button {
  background-color: #800000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #410000;
  text-decoration: none;
  transition: 0.3s;
}

footer {
  background-color: #333;
  color: #b8b8b8;
  text-align: center;
  padding: 1em 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #b8b8b8;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

#visualizacionCV {
  border-top: 2px solid #ccc;
  padding-top: 1em;
}

#visualizacionCV p {
  margin-bottom: 0.5em;
}
